card {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url("https://image.shutterstock.com/image-photo/light-bulbs-on-dark-wooden-260nw-354086042.jpg");
    overflow: hidden;
  }
  .card {
    display: inline-grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas:
        "image"
        "text"
        "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 90%);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    float: left;
    margin: 30px;
    /* width: 10px; */
    padding-left: 70px;
    padding-right: 19px;
    height: 450px;
}
.card-image {
  grid-area: image;
  background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBUVFRgUFRYYGRgaGRgYGhgYGBgYGBgYGBgZGRgYGRgcIS4lHB4rIRgYJjgmKy8xNTU1GiQ7QDszPy40NTEBDAwMEA8QGhISGjEhISs0MTQ0NDQ0NDE0NDQ0NDQ0NDQ0MTQ0MTQ0NDQ0MTQ0NDQ0NDQ0NDQ0NDQ0NDQ0ND80NP/AABEIAKgBLAMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAFAQIDBAYABwj/xABDEAACAQIDBAcFBAcIAgMAAAABAgADEQQSIQUxQVEGImFxgZGxMlKhwdETQmJyBxQ0gpLh8BUjJDOissLSg+IWRHP/xAAXAQEBAQEAAAAAAAAAAAAAAAAAAQID/8QAIhEBAQEBAAICAgIDAAAAAAAAAAERAiExElEDQXGRE4HB/9oADAMBAAIRAxEAPwDTqI+0jBjxAjAjhaMY75waBIDFB0jAY8QEcxA0WpukbGA6PEYDHgQFiPukgGkZUGko8v6cbaxFPElEqMqZVOUWGpvfW15mKm1a7e1Vf+NvlC/6RP2s/kT/AJTLvvlRZfEud7k95J9TIi/bEVBHZBAbn7Zym5jsscogaboMf8QPyt6iepIZ5Z0G/aP3W9RPUqY0kpEqmVGri5HbLI32gmv7Z7zMdem47GPmIUQQ7ED2bHiLwmmrrHbR2V9oQwJUjluPfMybFtys69Q3ufKSbObOdBxt9ZabYrh819LbvnCeAwYQdsTmpehChuAk4jKdo+06Mn35yS8asVoD7xrGJeIe6AGduu/5o1zoZ1Q9d/zGR1DpOXXtueg3FoxNxy5SnhsK7jrKbmabD0wVEsJhwJqcpeg/ZmBFMAW/lDKLpIwAJNNslUx+aRtTccBKOO2gaViUJHMbpcTVsvFBg2htDPrltwl1WizF1YQyQNIEaPRpA+peMjn3Ri74D5Iqxto9TAexAFyQJJ9lmEAdIadRsuQErbWxsAeZh3DYhWFwbiw9Ig8e/SQlsYfyJ6tMm++a79Jn7Z/409WmRb6TSJlixqxYCxVjY5IGk6DH/ED8rfKepUhpvnlvQb9oH5W9RPUqbSUiQHWB8T7Z74aBAgPFnrmY69Nw2j7Yhi0DYb2xDYEc+ionp6SOxkzsd0bbsmmT6ceQdwjAZIhgOGm+c0TfvikQOA4xGjgoiNAAues35jGOdItQ6t+Y+sjZpyvtuCmEXqCWVAlfCjqL3ScL2TpPTNOCDeZJpGBZ2WVEhxQlTFujqQwldjIKhm8Z1QwDgM6A+yRDCOZm8E1q7rzF/KHEqR0ReV5PTlBHlum0w0mecBEY6RQ0B6iPWRxymA6oLqZFTHVFpId1pXwygUwB2+sDy39I5/xX7ierTJtx8Jq/0jftQ/Inq0yh+kqJFjrxixZQ68VDGRVgajoH+0fut6iepIonlnQQ/wCI/db5T1KmZKsOr1Qq5t/ZANepme/CHatMOMpFxymaxFBc5twJ4mc+molo1SrhrXAmgpuGAI4iAMLhELWIuDv3w+gAAA3COSkqTgIlSIdJtlICOUeG7JEpjwYDgbxQY2OB1gODSvi6lkY7tJOB2Rjd0DLPiU11vqb79/GNeumXebdxvHVNWP5m9TJFWcr7bi9sqsxJW5sAN407LQmDK+HHVEnUzpPTNOzGdrEEW0qBpMiqRS8idp0YBnOXEr2giFA+toH2o+WojfiA84SdutJ0vIjSa8vUYNw/bL1FphpbO6cTGkXG+KsB4MeIw9keBAfbSV6PsDx9ZNeV8OcyAg8/WB5b+kf9pH5F9WmUP0mq/SN+0j/819WmbwyozWdsq23jUyojUxY/EKgNkYstt7DKfKGNp7MprhqNamrgsAHZieu5FzlXgBKAkVTH0aDOyooN2YKOV2Nhc+Mt4rZT0zUDZb0yqvY31a1rcxrAMdBf2j91vlPU6ZnlfQX9o/db5T1Sna0lU9WmdxDddu8wzj0dkIXf32+MyeK2klN8r6tzXrTHUtag5gm64hnjMhgsctVyiA5rXI3TVUbgC54Rz4KdUMazRlQG97xFM0ylVo5TGJaP7oDwbx+kr0cQHYqAerYEn3uIHwke0dopQQvUJVAQC1rgE6AG0ov3kbxtOoGAYbiLjxlfaCsUYLv7N8gz7tqfzN6mSo0EPtSkhZWuLEgix331k1DadJ8qLckkAC3Gc7K3saiieqO6SAyjgUILXBHfx7peFpuM05THXkdzJZUZEYl/eiGu3vTQHo2nvN/XhKeJ6OuoujBuw6GdGAOsM3ta98lo1CWFzIa6MhKsCCOBiUG1k69LPY9Qe0u0GgjDvCeHaYaEAdIq75DwkiCBPvjr8JEoiiA9ZVWsqpdjz08ZaA0mL25tEr1QdbkL2a6mWTUtXcXi6IfOyU89rZnALWHDWT4fG0X9ulTYc1UAjxEwrXJudTzMfQqMhupt8++aZejts2iy50VSp7BcdhlLaGziyAIfZ3IdV8BwlPYO1d1/ZbRhyPOFKuIsSIGVU3YrcAjeDYGRYmkpuGAYHfpcekk6TVGR0qIbX0NgNDz1ECPtSqd7t8B6LAOdHNlIlRatN94YFDvF+K9mk3VM6TzLY+LOfUm/A3O+bzAYw1KeZTZtQTobMJz/ACdTmbfTfMtuQP29tm393TN+BI9LzL/qpL5m1B4Hh4wj/Z6oXV6pJLl2AGuZtSd3GD9qYoohFNm4b7TfPrWb7FujlBFqEjqtuzE3Vuw8jDeN2kUfIEObiToo8ZiqOMRgM5IYgC45jjNHQxoqBdQxtYnmRxk6njwvN8+U9PG1mfLlUjhlPryhdaqL7RueS7vOBmrrTU8PePygTG7VdrZDlHdrHPOTyddfTbrtBPc/1G8eHR/YcoeTWK+c84XF1BrnbzhHBbZYGz6j3hvHfNZE2txhKTCqq1CAup0tZuWvGBenG10Z1w4VWUi7AgW05ShtTa7qEsSRZrfCDhga2IvWX2dQTytvt5xhotgtsuiqpAKAADfe0sbU26Al0B63HtPCZetjAnUdHbQWOZQtiNN5kODxSvdCSqG+5wSDwNu+MibXYqkzsCdefCT4WgiujlmXK1xyB7RLVPCVAB1QbC177+2UquJXOUtawGt76wNdjMa6KHCZ1O4qbgxcJtVH0IynkYF2XjGB+zc3Rx/CecXFpmFr2I1DDQm3Cc+t5dOcrVrU5Se8C7GxWZbHeIW+0ES6WY0X2UQ0xJbxLzTIVtXY6V1sws3BhvBnn2JwT0XZHGo3Hgw5ieqkwP0h2aKyG3trqp+XdLoxVBoUwzQNSuDY7xpbthXCtMqJhtI8PK2fSODwLYaODSsrx6vAmqPZT3H0nmu06mZ/D1M9JAzDLz0nmm16RRyDwJU+B0mozUE4SJHkgMqCGynsSPGFcRjtfAQLgN5PhHYonNAXbGJzIR2gwEXlvaD2W3MwaXkqxaw1Szg9sJjpK9G6oigXueswuefGB8Nq09Q2J0WoOjnE4ZS/2rkZrhhTyIy2KHdqbCTqSzKs8MC3SlmN2pISd5LG/pIn6Rg6Ggh8f/WRdMMElHGVqVJcqKUyrdjbNTRjqxJ3sd54wKZJ4Ud/txD/APXT+vCW9l7XzOiJSVbngToOJ5bpmUE2mwa6NRyphbugy1MRZdCTcWNr3IsLSXqzMmmG7VxGZgl9Bqe/hKZlqpgarOxCNa41PVG7mZL/AGW9usUXva/pOjAeIohAbPTfnJ/Klx53jGpoNACT+df9qgn4RgYlKq9Niil/s9bcbNvAHHdeaHozTxRpOUTKjC9n6pDEWbKDrwETA1MCq5aiOth7bFkueP3gfhLlHFbOJsprt2qa7L5qYGW27hGfKVQll6ugBNvGU8LsevcHLb8zAfAQvttMNnvTIy8ncg37d7HugtMMjeyrtbXqfaW8XZvlALUaTuMhzDKLdYHKe7nIn6OEtmzgfun6wcqZPvsludYs3dZBaT4THVx7NV313/Zgrblcn43gXRsBwbrVtqL9U8PGWq+zqhGhB+Egwu3HH+aiDW3VcXtzy6gecJ4Ha1GqSqOCw3qdGHhFkpLYg2JhXp3D/E3h0GVrRJPivzbE1Ihqyga8aa8YavGrI3qyia8javGGgO3MKVqZ0Gjanv4yvRdhwhjaDBl7jKAWSrHDE6aqYq4rsMetBjuU+UkGEbiLd5ExepPda+NNGKU8x4SVcUnOMOGHF18NZ32SDiT3C3rHyn6XKnTEjgwmc6SYMMftAbhva7DwMNkJwS/eZG5FrZFA7ry/K/SZPt589NlOo05ySkhbQCHsTRpX6lRO4tYiD8TilQaDOeSlbes3rGJ6CBFudw1PaZQxGNW5N4Gx20a1Q+yVA3KNZUWlVY2yuf3SYVdq4j7RjYaKNLxlCk7LmCm5vYAX8rQjWdMOQiU0LBEzs+dyWKgt1S2Ub+Umx+0nWhRAbJmDuQlkFiwC6LbgJRZ6K7NcOHqIwABbrgqBbcetD2M6ethnZFVcQhs2ZmKOpsFKaIAbZQQbHeNTMjs6oxp1Hvcs9NASfxB21PYBK2PxT36yg9rIPWc/jl1d8Yj29tL9ZxD4jJ9nnK9QNmy5UVPasL+zfdxg8yRqg91fj9Ymce6Pj9ZQiTW9FdpCnTq08wBqMpAvZjlGupXKBpvLDlYzLpXHuL43PzlyninIsqgX0OVbadpliVqGx1zbOCx0AXO7E8rIEBiMzDUqy9rmnR+Fi/xmZ2VXJqBvdDN5C3zjMTjDzmtTGhqYhPvOl+xXrHzqG3lH5nI0Sqw5uwpJ5DKPjK+MxpohUSykItyqhWJtqSwFyZBgbVVepUd7IVAykXYtvuzXtpbhxhFkkLvakn5F+0f+I/8AaM+1Dmw+1qnlchf4VuR5yF8VTT2Ka973c/6tPhJiMS6gm6IRcFyEQg7iq8R3CA8I6/dpUu+zP/yb0kNaqn36jv2DqL8bn0jThkX26hY8kFh/G3/WNOLRPYRB+Juu3m2g8AID6Llv8qiLe8Rm/wBb6COqK5/zKoH4Vu5+SjzkYNerqAxX3mOVPBm08o5cAo9t7/hQafxt9IEbVaSblLHm7X/0iw87yZDWcdVciczZF+V/C8elRE9hFU+8es/8TbvC0grYziTfvMApgcY9K93zg/ct1QeJzHX4Sx/bj8l+P1mcpu7myKW5ngO9joJaGAPGoAeQBI84HopxEY2IgHZ+PzUkbmin4SZsTKCjYiMbEwU2JkbYmASq4jSTLimIFrDTgBATYiGcBh2ZFbQAjeTOf5Pjkta439Hmq53sYzxlj9XQe048NZ16Y4M3wnOdc/qX+m8v7qC8VQTuBMm/WQPZRR36xr4t+du4AS71fXP9mT7QYh8ls4tfdeV2xKncRINq1Cctzffvg8NNTc8s0JxOznuSLHU8ZTqYNxvSaENOzTWpjO4bCsXVSpALAHuvr8JC+1Kj1QgdlQ1LBU6i5c26y24TTYglUL23A62mH2Ub1k7yfJSZYJts171qh/Efhp8pLt17MiDclJF9ZewnRjEYmo7ABELt13NgRm+6u9vTtm1To3gkbPVBqvYCxvk0/CDbzJlGH2ZTJo0uo7qaxZwilmy2Zb2A7B5QxX6HVGAemaoB4PTNwPNT4WmwqbaSgoRKYRbHKETMotbeqezvgTHdIaz3VMVSp/8AjqBvNkIksSVmn6MP92vSJ5MXUg8iLG0iqdHKq76lHwdj6oI7F7Gq1XLtiKbsfvNUS58CR6SvU6PuntOg7iG/23kyrq1R6Ova7Yiko73PyA+Md/ZKBgDWNXiQgt+7e7fXulBNl2N7u3cAo+c0uwMGQQWBHxlymgGGwRTOADmKkAcbWO4SjQwLs63FhmW999ri+k9mpYWlUFmVG7xZvPfKmM6JU31QlG37gR3a8JR5Xt6veo3gPgJZwT5cJf36hPkCv/GaLavQ50Yuy5r63Fyv8vGAdqJakiKNzG4A3HXQjhvhkFeqWOUbybDvOgml27iMr5RuVVUeCiAdnYFzURmFgHVvI3+Un29XvVbvHoIaWNlIK9ZabEhSGLFbXAUE6XuN9vOE0+zT2EUH3n67d920HgBBHRNrVHf3UI/iI/6yXE4q0MrtfFltWYnvN5Tq4sCJgMK1fO2cIiZcxIJN2vYKo3nTiRCVHC0k1VMze+9mPgvsr8T2wB1HDVaguBlX336q+HFvAGXKWz6a6teo3b1U/hGp8T4Sy7km5JJ7Ywa6DfAe1Q2tuA3AABR3AaCMzS/htmMdX0HIb/5QimHQC1l8d8ozuwMR/h0HK48iZfNaBOj5/uR+ZvUwmJNXExqxpeNCxwSNMIXhzZx/u18fUwMKc02zayrTRWQGw3zn31ZPE1rmT90wTpdz0jvUjunfYUzucjvnL/NnuWf6b+P1YpExJd/UL7nBjWwDjgD4yz83H3/xPjfoJxdDPbslFsIRrfQQ++Ff3TA+PxSKCg1bcbbh3zpzZ16us3x7DkrZSD9kzKdxOdQe0EaWhKhtOmg/ysrcMrBvMlfQmC2qOwsSbcBc2ueznLVHZzEXayjmxt8N86YwXF7TaoCpRMp4FQx8zKlFimiAJ+RVT/aBCKphk9p2c8kFh5xw2jh19mjm7WY/zgUDWqHe7/xH6zhXqDc7/wATfWEhtumN2GT4fSSDblE+1hk8D/KAMXHVR99j+brDya8X9fJ9tEfvW3+3T4QsuOwT+1TdDzUm3qfSSLszDVf8qvY+64+HAwAbUcK/tIyHmu7zW3oZawewkJUo+dAblRYtbfY7iPESfF9G6yahQ45ob/DfBDI6NxVh3gj6QNxhcJSbQBe4ix8vpL6bLp8BbumKwm3nXSoA69ujj97j43ml2ZtVH/y3zfgfRx3fyuJMXRB9lEarrGJUdND5GXcPjATbceR+XOWmVX0IjfsxVo4pTodO/dKO0ujtGr1gqq3OwsfD6S5icARquoleliGTThyP9aR/B/LBbd2M9AhihtfeozDv04TE7RpM7tlF7m+munOfQSVEqKVIB5qZlNvdFxZnpC41JUDrDt/EPjHs9PN9jYc00qE7yPQN9YIxNbWaCuMgdDvAbTstoe7tmcbDu2oU28B6xSNL0c0wzn3ql/BVA9by0WlTZIK0FU6G5J8WMnue2UpzNKePeyG0nZpTx4JQwgngNu1Gp5TYsNM53kdo59sheqxNzcnnB+x6iC4d8u62h18QNJoKeIpW0qIByuIgH9H6P9wnbc+ZMKilGbNo5aSLyRfSWhM61iNaceEjs0TPAXLDKLYAchaC8EuZ+wa/SE5FPM68aBOBgOtHCoRuJHjEF4D2xj9TTQ6fePP8MZpuJNo7cc3RHNtxbie48B2wbQw99SbKN5P9axtNABmbdwHE/wAoyrWLb9w3AbhNc888+pjNtvtc/W1TSmNffbU+A4SpUqsxuxJ75HFlR06dOgdOnToHTp06Bdwe1a1L2Ha3uk3XyMNU9v0aoy4mkL++vD5j4zMTpGmmxfR9XXPhnDr7txm7gePcdZnqtFkaxBUjvBBi4TFvTbMjFT2bj3jcZo8PtejiQExKhH3BxoL9/Dx0jUxV2d0hIsle7Dg49sfm97v3981eEx/VDBs6Hcy6kfXuOsxu1thvS6w6ycHHzHCUdn7Reg10Oh9pD7Ld459o1lR6vQrBgCDcc4mJwquORmb2XtNXGekbH79Nt4+o/EP5TQYTGK400I3g7x/XOTMaC61NkPLti1Nv06YH2zBSdx4tbshqtTDixmP6TbLzJYi44HlHtPQN0hxmFrtmRgjX1fXX91VIlXDtRtZqtNvzU7fEIIAxNFkNj4GVy5vYbzKjYU8Nh+H2J7nI8gX+UI08AmhykDfvBFuY0185laGARgMuIUMd4dGQX5BlzC3abSbZu03ouUJOUGzpwB95eR9YGkxmEplbMoI57iD38DM9VwaC4GvafpzlrF47eBx0+h/rnIcEc2bvEoGnYCNuuO4xP/jg98+U0aU5LkjDQWv1hluR3RwqWnTphsjVowVCSANSdwizpBoMHhsi247z3ye06dAUCLedOgUdrY3IllPWbQdg4mZ1B947vU8p06ajNI7km5jZ06VDpwEWdAZUqopszqD7t7t/CtzE/WE/F4gD4Xv8J06Y+Vbw041OTeY+kQY2nyYeR+k6dKiVayHc4H5gR8d0fkO8ajmNR5idOk0htos6dKOiWizoBfZG3Ho9R+vTOhU62H4b+npLm0djpUT7bDHMh1KDevOw+UWdLBnqVR6bhlJVlOh4j+uU1+ytqCrqvUqqNV4MOJXmvMcPjOnSstLgMeH0OjDePmOYljE0VdSCJ06T9tR5x0k2XkJBGnAzGAlHynu893ynTpWV9LyPFYgNUuN4UBzwLDQ+PPtvOnQLpfQX5D0hPZVHQ9ZWJN+qQ1vKdOgF1p23iOyzp0qP/9k=);
  border-top-left-radius: 6px;
  border-top-right-radius: 15px;
  background-size: cover;
  padding-right: -317px;
  margin-right: -1px;
  margin-left: -52px;
  margin-top: 16px;
  margin-bottom: -16px;
}
.card-text {
  grid-area: text;
  margin: 25px;
  text-align: initial;
}
  .card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
  }
  .card-stats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 7, 110);
  }
  .card-stats .stat {
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  .card-stats .border {
    border-left: 1px solid rgb(172, 26, 87);
    border-right: 1px solid rgb(172, 26, 87);
  }
  .card-stats .value{
    font-size:22px;
    font-weight: 500;
  }
  .card-stats .value sup{
    font-size:12px;
  }
  .card-stats .type{
    font-size:11px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  
  /*card2*/
  .card-image.card2 {
    background: url("https://www.virtualmetric.com/blog/wp-content/uploads/2021/03/Blog-post-37_1.jpg");
    background-size: cover;
  }
  .card-text.card2 .date {
    color: rgb(255, 77, 7);
  }
  .card-stats.card2 .border {
    border-left: 1px solid rgb(185, 67, 20);
    border-right: 1px solid rgb(185, 67, 20);
  }
  .card-stats.card2 {
    background: rgb(255, 77, 7);
  }
  /*card3*/
  .card-image.card3 {
    background: url("https://www.jadeglobal.com/sites/default/files/2019-07/Performanace-Analytics-for-IT-Operation-management---Banner.jpg");
    background-size: cover;
  }
  .card-text.card3 .date {
    color: rgb(0, 189, 63);
  }
  .card-stats.card3 .border {
    border-left: 1px solid rgb(14, 122, 50);
    border-right: 1px solid rgb(14, 122, 50);
  }
  .card-stats.card3 {
    background: rgb(0, 189, 63);
  }
  .card-image.card4 {
    background: url("https://st.depositphotos.com/1006899/3826/i/950/depositphotos_38266833-stock-photo-low-cost.jpg");
    background-size: cover;
  }
  .card-image.card5 {
    background: url("https://www.financialexpress.com/wp-content/uploads/2021/09/AI-Pic-620x400.jpg");
    background-size: cover;
  }

  .card-image.card6 {
    background: url("https://www.allianzgi.com/-/media/allianzgi/shared/rebrand/capabilities/1920x980-activehero-capabilities-multi-asset.jpg?rev=99a20857d8b64890a8256c781abf9e23&hash=8DAF7BF44C6F79E3B51D405C604775ED");
    background-size: cover;
  }
